fastapi==0.115.0
uvicorn[standard]==0.30.6
openai>=1.30.0
pydantic==2.9.2
python-dotenv==1.0.1
langchain==0.3.0
langchain-openai==0.2.0
langchain-community==0.3.0

faiss-cpu==1.8.0
tiktoken==0.8.0
python-multipart==0.0.12
gitpython==3.1.43
python-pptx==0.6.21
gunicorn
a2wsgi


